<div>
  <div>
    <h1>
      List of all sections
    </h1>
  </div>
</div>

<hr>


<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Quarter
        </th>

        <th>
          Year
        </th>

        <th>
          Day
        </th>

        <th>
          Time
        </th>

        <th>
          Instructor
        </th>

        <th>
          Phase 1 enrollment
        </th>

        <th>
          Phase 1 seats available
        </th>

        <th>
          Phase 1 price
        </th>

        <th>
          Phase 2 enrollment
        </th>

        <th>
          Phase 2 seats available
        </th>

        <th>
          Phase 2 price
        </th>

        <th>
          Phase new1 enrollment
        </th>

        <th>
          Phase new1 seats available
        </th>

        <th>
          Phase new1 price
        </th>

        <th>
          Phase new2 enrollment
        </th>

        <th>
          Phase new 2 seats available
        </th>

        <th>
          Phase new2 price
        </th>

        <th>
          Course
        </th>

        <th>
          Section number
        </th>

        <th>
          Phase 3 enrollment
        </th>

        <th>
          Phase 3 seats available
        </th>

        <th>
          Phase 3 price
        </th>

        <th>
          Phase 4 enrollment
        </th>

        <th>
          Phase 4 seats available
        </th>

        <th>
          Phase 4 price
        </th>

        <th>
          Total seats offered
        </th>

        <th>
          Program
        </th>

        <th>
          Backpacked sections count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_sections.each do |a_section| %>
      <tr>
        <td>
          <%= a_section.id %>
        </td>

        <td>
          <%= a_section.title %>
        </td>

        <td>
          <%= a_section.quarter %>
        </td>

        <td>
          <%= a_section.year %>
        </td>

        <td>
          <%= a_section.day %>
        </td>

        <td>
          <%= a_section.time %>
        </td>

        <td>
          <%= a_section.instructor_id %>
        </td>

        <td>
          <%= a_section.phase_1_enrollment %>
        </td>

        <td>
          <%= a_section.phase_1_seats_available %>
        </td>

        <td>
          <%= a_section.phase_1_price %>
        </td>

        <td>
          <%= a_section.phase_2_enrollment %>
        </td>

        <td>
          <%= a_section.phase_2_seats_available %>
        </td>

        <td>
          <%= a_section.phase_2_price %>
        </td>

        <td>
          <%= a_section.phase_new1_enrollment %>
        </td>

        <td>
          <%= a_section.phase_new1_seats_available %>
        </td>

        <td>
          <%= a_section.phase_new1_price %>
        </td>

        <td>
          <%= a_section.phase_new2_enrollment %>
        </td>

        <td>
          <%= a_section.phase_new_2_seats_available %>
        </td>

        <td>
          <%= a_section.phase_new2_price %>
        </td>

        <td>
          <%= a_section.course_id %>
        </td>

        <td>
          <%= a_section.section_number %>
        </td>

        <td>
          <%= a_section.phase_3_enrollment %>
        </td>

        <td>
          <%= a_section.phase_3_seats_available %>
        </td>

        <td>
          <%= a_section.phase_3_price %>
        </td>

        <td>
          <%= a_section.phase_4_enrollment %>
        </td>

        <td>
          <%= a_section.phase_4_seats_available %>
        </td>

        <td>
          <%= a_section.phase_4_price %>
        </td>

        <td>
          <%= a_section.total_seats_offered %>
        </td>

        <td>
          <%= a_section.program %>
        </td>

        <td>
          <%= a_section.backpacked_sections_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_section.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_section.updated_at) %> ago
        </td>

        <td>
          <a href="/sections/<%= a_section.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
