<div>
  <div>
    <h1>
      Course Search
    </h1>
  </div>
</div>

<div class="container">
  <form class="form-inline" action="/courses/search/<%=:navsearch_query%>">
    <div class="form-group mb-2">
      <label for="search_all_courses">Search All Courses</label>
    </div>
    <div class="forms-group mx-sm-3 mb-2">
      <input type="search" placeholder="Course Search" aria-label="Search" id="search_all_courses" name="navsearch_query" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark mb-2">Search</button>
  </form>
</div>

<hr>

<% if @matching_courses.count() > 0 %>
<hr>
<div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            Course Number
          </th>

          <th scope="col">
            Course Title
          </th>

          <th scope="col">
          </th>
        </tr>
      </thead>
      <tbody>
      <h1> <%=@mathcing_courses%> </h1>
        <% @matching_courses.each do |a_course| %>
        <tr>
          <th scope="row">
            <%= a_course.course_number %>
          </th>

          <td>
            <%= a_course.title %>
          </td>

          <td>
            <a href="/courses/<%= a_course.id %>" class="btn btn-dark">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% else %>
<h2> No courses found, Sorry </h2>
<% end %>

<hr>
